<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>APSN</key>
				<false/>
				<key>PluginType</key>
				<true/>
				<key>PStates</key>
				<false/>
				<key>APLF</key>
				<false/>
				<key>CStates</key>
				<false/>
			</dict>
		</dict>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SERBUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change HDAS to HDEF</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>FBJfU1RBAA==</data>
					<key>Replace</key>
					<data>FBJYU1RBAA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change HPET._STA to XSTA</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1ExNQA=</data>
					<key>Replace</key>
					<data>WFExNQA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Method(_Q15,0,N) to XQ15</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1ExNAA=</data>
					<key>Replace</key>
					<data>WFExNAA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Method(_Q14,0,N) to XQ14</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0JJRgM=</data>
					<key>Replace</key>
					<data>WEJJRgM=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Method(GBIF,3,N) to XBIF</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0JJWAM=</data>
					<key>Replace</key>
					<data>WEJJWAM=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Method(GBIX,3,N) to XBIX</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0JTVAQ=</data>
					<key>Replace</key>
					<data>WEJTVAQ=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Method(GBST,4,N) to XBST</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>QUpUUAM=</data>
					<key>Replace</key>
					<data>WEpUUAM=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Method(AJTP,3,N) to XJTP</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0wxNwA=</data>
					<key>Replace</key>
					<data>WEwxNwA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Method(_L17,0,N) to XL17</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>T1dBSwE=</data>
					<key>Replace</key>
					<data>WFdBSwE=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Change Method(OWAK,1,N) to XWAK</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R1BSVwI=</data>
					<key>Replace</key>
					<data>WFBSVwI=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(GPRW,2,N) to XPRW</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>CF9QUlc=</data>
					<key>Replace</key>
					<data>CFpQUlc=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Name(_PRW) to ZPRW</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1BUUwE=</data>
					<key>Replace</key>
					<data>WlBUUwE=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(_PTS,1,N) to ZPTS</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1dBSwk=</data>
					<key>Replace</key>
					<data>WldBSwk=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(_WAK,1,S) to ZWAK</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>T1NJRA==</data>
					<key>Replace</key>
					<data>WFNJRA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change OSID to XSID (to avoid match against _OSI XOSI patch)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EC0 to EC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SF9FQw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change H_EC to EC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUNEVg==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change ECDV to EC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SERBUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change HDAS to HDEF</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>TUVJXw==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change MEI to IMEI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>UENJMFZJRF8=</data>
					<key>Replace</key>
					<data>UENJMElHUFU=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change PCI0.VID to IGPU #1 (Thinkpad)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>VklEXwhfQURSDAAAAgA=</data>
					<key>Replace</key>
					<data>SUdQVQhfQURSDAAAAgA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change PCI0.VID to IGPU #2 (Thinkpad)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SERBUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename HDAS to HDEF</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0JJRgM=</data>
					<key>Replace</key>
					<data>WEJJRgM=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>battery GBIF03 to XBIF03</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0JTVAQ=</data>
					<key>Replace</key>
					<data>WEJTVAQ=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>battery GBST04 to XBST04</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0JJWAM=</data>
					<key>Replace</key>
					<data>WEJJWAM=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>battery GBIX03 to XBIX03</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixTMR</key>
				<true/>
				<key>FixShutdown</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
			</dict>
			<key>DropOEM_DSM</key>
			<false/>
		</dict>
		<key>SortedOrder</key>
		<array>
			<string>SSDT-RMCF.aml</string>
			<string>SSDT-XOSI.aml</string>
			<string>SSDT-PNLF.aml</string>
			<string>SSDT-DDGPU.aml</string>
			<string>SSDT-GPRW.aml</string>
			<string>SSDT-XHCPRW.aml</string>
			<string>SSDT-PTSWAK.aml</string>
			<string>SSDT-ALS0.aml</string>
			<string>SSDT-LPC.aml</string>
			<string>SSDT-HPET.aml</string>
			<string>SSDT-USBX.aml</string>
			<string>SSDT-NVME.aml</string>
			<string>SSDT-GLAN.aml</string>
			<string>SSDT-MCHC.aml</string>
			<string>SSDT-MEM2.aml</string>
			<string>SSDT-DMAC.aml</string>
			<string>SSDT-PWRB.aml</string>
			<string>SSDT-SMBUS.aml</string>
			<string>SSDT-KBD.aml</string>
			<string>SSDT-BATT.aml</string>
			<string>SSDT-THBT.aml</string>
			<string>SSDT-CODEC.aml</string>
		</array>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>#MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>xh_rvp10</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Secure</key>
		<false/>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Arguments</key>
		<string>igfxcflbklt=opcode bpr_probedelay=200 bpr_upgradedelay=200 bpr_initialdelay=400 bpr_postresetdelay=400 slide=0 darkwake=0 dart=0</string>
		<key>Legacy</key>
		<string>PBR</string>
		<key>NeverHibernate</key>
		<true/>
		<key>Timeout</key>
		<integer>3</integer>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>iclover</string>
		<key>Mouse</key>
		<dict>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
			<string>Recovery</string>
		</array>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
		</dict>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0)/Pci(0x02,0)</key>
			<dict>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
				<key>framebuffer-patch-enable</key>
				<integer>1</integer>
				<key>enable-hdmi20</key>
				<integer>1</integer>
				<key>AAPL,ig-platform-id</key>
				<data>AAAWWQ==</data>
				<key>framebuffer-fbmem</key>
				<data>AACQAA==</data>
				<key>device-id</key>
				<data>FlkAAA==</data>
			</dict>
			<key>PciRoot(0)/Pci(0x1f,3)</key>
			<dict>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>layout-id</key>
				<integer>11</integer>
			</dict>
		</dict>
		<key>AddProperties</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Inject "name" as (data)"#display" to disable graphics drivers on NVidia</string>
				<key>Value</key>
				<data>I2Rpc3BsYXkA</data>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>name</string>
				<key>Device</key>
				<string>NVidia</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject "IOName" as "#display" to disable graphics drivers on NVidia</string>
				<key>Value</key>
				<string>#display</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>IOName</string>
				<key>Device</key>
				<string>NVidia</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject bogus class-code to prevent graphics drivers loading for NVidia</string>
				<key>Value</key>
				<data>/////w==</data>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>class-code</string>
				<key>Device</key>
				<string>NVidia</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject "name" as (data)"#display" to disable graphics drivers on AMD</string>
				<key>Value</key>
				<data>I2Rpc3BsYXkA</data>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>name</string>
				<key>Device</key>
				<string>ATI</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject "IOName" as "#display" to disable graphics drivers on AMD</string>
				<key>Value</key>
				<string>#display</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>IOName</string>
				<key>Device</key>
				<string>ATI</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject bogus class-code to prevent graphics drivers loading for AMD</string>
				<key>Value</key>
				<data>/////w==</data>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>class-code</string>
				<key>Device</key>
				<string>ATI</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject bogus vendor-id to prevent graphics drivers loading for AMD</string>
				<key>Value</key>
				<data>//8AAA==</data>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>vendor-id</string>
				<key>Device</key>
				<string>ATI</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject bogus device-id to prevent graphics drivers loading for AMD</string>
				<key>Value</key>
				<data>//8AAA==</data>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>device-id</string>
				<key>Device</key>
				<string>ATI</string>
			</dict>
		</array>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<true/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<true/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelLpssI2C</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
			<dict>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelLpssI2CController</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
			<dict>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelLpssGspi</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Prevent Apple SPI kexts from attaching to SPI controllers</string>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
			<dict>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelLpssSpiController</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Prevent Apple SPI kexts from attaching to SPI controllers</string>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
			<dict>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleSMBusController</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>Prevent Apple SMBus kexts from attaching to SMBUS controller</string>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
			<dict>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleSMBusPCI</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>Prevent Apple SMBus kexts from attaching to SMBUS controller</string>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
		</array>
		<key>KernelLapic</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>ILniAAAADzA=</data>
				<key>Replace</key>
				<data>ILniAAAAkJA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>igKEwHRC</data>
				<key>Replace</key>
				<data>igKEwOtC</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 release kernel (credit Vandroiy)</string>
				<key>MatchOS</key>
				<string>10.14.x</string>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>MLB</key>
		<string>C02ZZZZZHV29ZZZZZ</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
		<key>BooterConfig</key>
		<string>0x28</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE137</string>
		<key>Board-ID</key>
		<string>Mac-53FDB3D8DB8CA971</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>BiosVersion</key>
		<string>MBP154.88Z.F000.B00.2005132135</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>PlatformFeature</key>
		<string>0x32</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>FVF0024054N0000A8</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBookPro15,4</string>
		<key>SmUUID</key>
		<string>9B6A24FC-7CBD-4F0B-BF5E-89659F7BFD28</string>
		<key>Mobile</key>
		<true/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>1037.120.87.0.0</string>
		<key>SerialNumber</key>
		<string>FVFYXYYPL40Y</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>05/13/2020</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectSystemID</key>
		<true/>
		<key>CustomUUID</key>
		<string>EBFDE814-C1C4-4918-9A06-06A2484B8A5D</string>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>